<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LoRaFence Dashboard</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">

</head>

<body>
    <div class="wrapper">
        <nav id="sidebar">
            <div class="sidebar-header">
                <h2>LoRaFence</h2>
            </div>
            <ul class="list-unstyled components">
                <li><a href="#" id="menuHome">Home</a></li>
                <li><a href="#" id="menuClear">Clear Path</a></li>
                <li><a href="#" id="menuExport">Export to CSV</a></li>
                <li><a href="#" id="menuSettings">Settings</a></li>
            </ul>
        </nav>

        <div id="content">
            <header>
                <div class="header-bar">
                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <span>&#977;</span>
                    </button>
                    <h1>LoRaFence</h1>
                </div>
            </header>

            <div class="controls">
                <div id="info">
                    <p><strong>Latest Location:</strong></p>
                    <p id="latLon">
                        Node ID: <span id="nodeId">-</span>,
                        Latitude: <span id="latitude">-</span>,
                        Longitude: <span id="longitude">-</span>
                    </p>
                </div>
            </div>

            <div id="map"></div>
        </div>
    </div>

    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

</body>

</html>